<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
            <title>Prijavno mesto</title>
    </head>

    <body>
        <h1>LOGO</h1>
                <a href="/" class="btn btn-default">Home</a>
                <a href="/vremail" class="btn btn-default">VreMail</a>
                <a href="/vreme" class="btn btn-default">Vreme</a>
                <a href="{{logout_url}}" class="btn btn-default">LOGOUT</a>

        <p>user: {{user.nickname()}}</p>



    </body>
</html>